<section id="thirdPage">

    <h2 id="habilidades">SKILLS</h2>
    <div id="skill-container">
        <div class="skill"><img class="skill one" src="images/html-5.png" width="90px" alt="html-logo">
            <p> Problem Solving</p>
        </div>
        <!-- <div class="skill">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, in?</p>
            <img src="images/css-3.png" alt="Css-logo" width="90">
        </div>
        <div class="skill">
            <img src="images/js.png" width="90px" alt="js">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, in?</p>
        </div>
        <div class="skill">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, in?</p>
            <img src="images/piton.png" width="90px" alt="python">
        </div>
        <div class="skill">
            <img src="images/java.png" width="90px" alt="java">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, in?</p>
        </div>
        <div class="skill">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, in?</p>
            <img src="images/git-logo.png" width="90px" alt="git">
        </div> -->
    </div>
    <footer>
        <section id="box-footer-skills">
            <p> JonathanBM-2022</p>
        </section>
    </footer>

</section>