<footer id="footer-cont">
  <div id="social-media">
    <a href="">
      <img src="../../images/linkedin-social-media-svgrepo-com.svg" width="35px" height="35px" alt="Instagram-Logo">
    </a>
    <a href="">
      <img src="../../images/github-color-svgrepo-com.svg" width="35px" height="35px" alt="linkedin-logo">
    </a>
    <a href="">
      <img src="../../images/instagram-social-media-svgrepo-com (1).svg" width="35px" height="35px" alt="twitter-logo">
    </a>
    <a href="">
      <img src="images/instagram-social-media-svgrepo-com.svg" width="35px" height="35px" alt="github-logo">
    </a>
  </div>
  <span>JABM-2023</span>
</footer>