<section id="thirdPage">

    <h2 id="habilidades">SKILLS</h2>
    <div id="container">

        <img class="skill one" src="images/html-5.png" width="70px" height="70px" alt="html-logo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui exercitationem dolor, veritatis repudiandae
            sint quod illo a vitae voluptatibus excepturi officia esse soluta maiores nobis nostrum vel dignissimos
            accusamus voluptas!</p>

        <img class="skill two" src="images/css-3.png" alt="Css-logo" width="70" height="70px">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque quia incidunt vitae voluptatum, in
            numquam possimus necessitatibus consequuntur harum, id eligendi sint doloremque, corrupti libero
            voluptates reprehenderit optio dicta minus?</p>

        <img class="skill three" src="images/js.png" width="70px" height="70px" alt="js">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores fugiat recusandae ex vero ullam minus,
            esse expedita saepe assumenda quod in laborum, neque obcaecati totam modi quaerat quam distinctio
            sapiente!</p>

        <img class="skill four" src="images/piton.png" width="70px" height="70px" alt="python">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis animi delectus ad ipsam aspernatur
            corporis aut dignissimos pariatur, maxime minus quos neque cum mollitia officiis possimus aliquam
            similique nam aperiam.</p>

        <img class="skill five" src="images/java.png" width="70px" height="70px" alt="java">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque distinctio illum molestias dolores?
            Autem totam reiciendis quibusdam explicabo? Tenetur, officia adipisci. Hic dolore itaque autem voluptas
            dicta nemo odio harum.</p>
        <img class="skill six" src="images/git-logo.png" width="70px" height="70px" alt="git">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi incidunt quas reprehenderit quia ipsam
            hic rerum ea vitae eaque, cum labore soluta explicabo aspernatur fugit iusto maxime. Aliquid, cupiditate
            est!</p>
    </div>
    <footer>
        <section id="box-footer-skills">
            <p> JonathanBM-2022</p>
        </section>
    </footer>

</section>