body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0px;
    scroll-behavior: smooth;

}



h1 {
    margin: 0px 0px;
    padding: 0;
}

#mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
}

.container {    
    width: 100%;
    height: 100vh;
}

#mainPage #nav-bar-container {
    width: 100%;
    height: 30%;
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;

}

#mainPage #header-container {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#header-container span {

    text-align: center;
    font-size: 90px;

}

#mainPage h1 {
    color: black;
    text-align: center;
    font-size: 37px;
}

#header-container h1:hover {

    text-shadow: 0 5px 4px rgba(26, 25, 25, 0.548);
}

#mainPage #nav-bar-container .button-link {
    padding: 10px;
    height: 10%;
    border-radius: 14px;
    text-decoration: none;
    color: black
}

#mainPage #nav-bar-container .button-link:hover {
    cursor: pointer;
    color: grey;
    /* box-shadow: 0 5px 4px rgba(26, 25, 25, 0.548) ; */
}

#secondPage {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#Develops {
    /* background-color: aqua; */
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

#secondPage .projects {
    /* display: none; */
    margin-bottom: 25px;
    border: solid gainsboro 1.5px;
    width: 90vw;
    height: 90vh;
    background-clip: padding-box;
    background-size: 100% 40%;
    background-repeat: no-repeat;
    border-radius: 10px;

}

#secondPage .projects:hover {
    /* box-shadow: 3.5px 3.5px  5px gainsboro; */
    border: solid 5px rgba(220, 220, 220);
    transition: border 100ms ease-in-out;

}
#secondPage #project-one{
    background-image:linear-gradient(to bottom right, red, blue, white);



    
}

#secondPage #project-two{
    background-image: radial-gradient(circle 200px at top, black, yellow, white);
}

#secondPage #project-three{
    background-image: conic-gradient(from 90deg at center, green, purple, pink);

}


#thirdPage {
    height: 95%;
    background-color: white;
    color: white;
    padding-top: 0.1px;
}

#thirdPage h2 {
    text-align: center;
    color: black;
}

#thirdPage .container {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* row-gap: 20px; */

}

.Skill {
    margin: 15px;
}


#thirdPage .container img:hover {
    border-radius: 16px;
    box-shadow: 5px 5px 5px grey;
}

.Skill-six {
    border-radius: 16px;
}


footer {

    justify-content: space-evenly;
    width: 100%;
    background-color: aliceblue;
    display: flex;

}

footer span {
    padding: 33px 8px;
    color: black;
    text-align: center;
    place-content: center;
    font-size: 12px;
    font-weight: bold;
}

#social-media {
    width: 231px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#social-media a img {
    width: 30px;
    height: 30px;
    border-radius: 15%;
}

#social-media a img:hover {
    transition: all 0.10ms ease-out;
    width: 35px;
    height: 35px;
    box-shadow: 0 5px 5px black;
}