#secondPage {
  /* height: 900px; */
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

#Develops {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

#project-cont {
  height: 100%;
  display: flex;
  inline-size: 100%;
  flex-direction: column;
  align-items: center;
}

.project {
  color: white;
  background-color: rgba(255, 255, 255, 0.048);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  /* animation-duration: 350ms;
  animation-name: load; */
  animation: load 350ms ;
}
@keyframes load {
  /* 0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(10px);
  }
    50%{
    transform: translateY(20px);
  }
  75%{
    transform: translateY(30px);
  }
  100%{
    transform: translateY(40px);
  } */
  from{
    transform: translateY(30px);
    filter: blur(2.5px);
  }to{
    filter: blur(0px);
    transform: translateY(0px);

  }
}

#img-container > img {
  max-width: 100%;
  min-width: 100px;
  background-color: beige;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  
}

/* 
#project-two {
  color: white;
  background-color: rgba(255, 255, 255, 0.048);
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 100%;
  border-radius: 10px;
}

#project-three {
  background-color: rgba(255, 255, 255, 0.048);
  color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 100%;
  border-radius: 10px;
}  */
