<div id="card">
    <section id="contact">
        <div id="header">
            <h2>Contact Me</h2>
        </div>
        <div id="form-container">
            <form action="/JonathanBlandon.dev/sendMail" method="POST">
                <label for="name">Name</label>
                <input class="contact" type="text" name="name">
                <label for="mail">Email</label>
                <input class="contact" type="email" name="mail">
                <label for="message">Message</label>
                <textarea class="contact" name="message" rows="7"></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </section>
</div>