<section id="secondPage">
    <h2 id="Develops">Develops</h2>
    <div id="project-cont">
        <div class="project one">
            <div id="img-container">
                <img src="/images/playguess-one.png" alt="" width="100%" height="100%">
            </div>
            <div>
                <h5>Play Guess Card Game</h5>
                <p>A fullstack characters card game.</p>
            </div>

        </div>
        <div class="project two">
            <div id="img-container">
                <img src="/images/playguess-one.png" alt="" width="100%" height="100%">
            </div>
            <div>
                <h5>Play Guess Card Game</h5>
                <p>A fullstack characters card game.</p>
            </div>

        </div>
        <div class="project three">
            <div id="img-container">
                <img src="/images/playguess-one.png" alt="" width="100%" height="100%">
            </div>
            <div>
                <h5>Play Guess Card Game</h5>
                <p>A fullstack characters card game.</p>
            </div>

        </div>

    </div>
</section>